/* .content{
    justify-content: center;
    border: 2px solid darkblue;
  }
  
  .Reviews {
    background-color: rgb(115, 111, 116);
    padding: 0px;
    box-shadow: 2px 2px 4px rgb(231, 227, 231);
  }
  
  .Reviews > div {
    padding: 1em;
    box-shadow: 0px 0px 2px rgb(120, 120, 121);
    background-color: rgb(169, 164, 172);
  } 
  .Reviews div:nth-child(odd) {
    box-shadow: 2px 2px 4px rgb(61, 60, 61);
   */
  

  .Edit form {
    margin: 0 auto;
    height: 100px;
    width: 600px;
    margin-top: 10px;
  }

  .view-reviews{
    margin: 0 auto;
    height: 100px;
    width: 600px;
    margin-top: 10px;
  }