.books {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    width: auto;
    margin-top: 20px;
    /* margin: 0px 30px 20px -15px; */
  }
  
  .single-book{
    /* display: block; */
    width: 310px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 20px 65px 25px 65px;
    text-align: center;
    padding: 5px;
    box-shadow: 5px 2px 15px 2px #517663;
  }
  
  .book-img {
    width: 100%;
    min-height: 300px;
    vertical-align: middle;
    border-radius: 25px;
  }

  .body_image {
    height: 400px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
  }

  .book-card {
    border: 2px solid gray;
    width: 600px;
    padding: 25px;
    border-radius: 15px;
  }

  .book {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    
  }

  .bookInfo {
    margin-left: 50px;
  }

  .book-card-top {
    display: flex;
  }

  .category-pills {
    padding: 8px;
    border: 2px solid grey;
    color: rgb(16, 15, 15);
    border-radius: 10px;
    margin-right: 10px;
  }
  
  
/*   
  .heart img {
    width: 40px;
    margin-top: 0px;
  }
   */
  .book-title{
    margin: 0;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: grid;
   
  }
   
.indexpg-title{
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    font-size: 2rem;
}

.index-subtitle{
  padding: 6px;
  border: 2px solid rgb(184, 124, 61);
  color: rgb(177, 97, 39);
  border-radius: 10px;
}


  /* 768 */
  
  @media screen and (max-width:768px) {
  
    .single-book {
      /* display: block; */
      width: 350px;
      max-height: 510px;
    }
    .book-img {
      width: 70%;
      min-height: 150px;
    }
    
    .book-title{
        display: grid;
    }
    
  }
  
  @media screen and (max-width:310px) {
  
    .single-book {
      /* display: block; */
      width: 250px;
      max-height: 510px;
    
    }
    .book-img {
      width: 70%;
      min-height: 150px;
    }
    
    .book-title{
        display: grid;
    }
    
  }

  .heartFilled {
    height: 30px;
  }
  
  .heartEmpty {
    height: 30px;
  }
  